.section-details {
    max-width: 1200px;
    margin: auto;
}
input, textarea {
    max-width: 100%;
    width: 100%;
    margin: 1rem auto;
    padding: 0.45rem;
}
textarea {
    min-height: 300px;
    margin: 0;
    padding: 0.5rem;
}
button {
    background: green;
    color: #fff;
    border: 0;
    padding: 1rem 2rem;
    text-transform: uppercase
}
.editor-container {
    width: 60%;
    float: left;
    margin-right: 10%;
}
.sidebar {
    width: 20%;
    float: left;
}
img.section-image {
    width: 100%;
}
.remove-image,
.upload-image,
.update-section {
    cursor: pointer;
}
.upload-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    overflow: hidden;
}